.banner {
    height: 100px;
    background-color: blue;
    text-align: center;
    margin-top: 5px;
}


h1 {
    color: white;
    padding-top: 20px;
}

#citySearchBtn {
    border: 1px solid rgb(2, 2, 124);
}

#citySearch {
    border: 1px solid rgb(2, 2, 124)
}

.btn-outline {
    border: 1px solid rgb(2, 2, 124);
    text-align: left;
    padding: 0.75rem 1.25rem;
  }
  
  #bootstrap.forecastCard {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    height: 215px;
    word-wrap: break-word;
    background-color: blue;
    background-clip: border-box;
    border: 1px solid rgba(2, 2, 124);
    border-radius: 0.25rem;
  }
  
  .card-deck {
    display: flexbox;
    flex-direction: column;
    height: 250px;
    width: 185px;
  }

  